<?xml version="1.0" encoding="utf-8"?>
<Game>
    <BrickInfo>
        <Normal min="1" max="3"/>
        <Heavy min="5" max="7"/>
    </BrickInfo>
    <Level PlatformSpeed="6">
    <Brick i="0" j="0" type="N"/>
    <Brick i="1" j="0" type="N"/>
    <Brick i="2" j="0" type="N"/>
    <Brick i="3" j="0" type="N"/>
    <Brick i="4" j="0" type="N"/>
    <Brick i="5" j="0" type="N"/>
    <Brick i="6" j="0" type="N"/>
    <Brick i="7" j="0" type="N"/>
    <Brick i="8" j="0" type="N"/>
    <Brick i="9" j="0" type="N"/>
    <Brick i="10" j="0" type="N"/>
    <Brick i="11" j="0" type="N"/>
    <Brick i="1" j="1" type="N"/>
    <Brick i="2" j="1" type="N"/>
    <Brick i="3" j="0" type="N"/>
    <Brick i="3" j="1" type="N"/>
    <Brick i="4" j="1" type="N"/>
    <Brick i="5" j="1" type="F"/>
    <Brick i="6" j="1" type="N"/>
    <Brick i="7" j="1" type="N"/>
    <Brick i="8" j="1" type="N"/>
    <Brick i="9" j="1" type="N"/>
    <Brick i="2" j="2" type="N"/>
    <Brick i="3" j="2" type="F"/>
    <Brick i="4" j="2" type="F"/>
    <Brick i="5" j="2" type="F"/>
    <Brick i="6" j="2" type="F"/>
    <Brick i="7" j="2" type="F"/>
    <Brick i="8" j="2" type="N"/>
    <Brick i="2" j="3" type="H"/>
    <Brick i="3" j="3" type="N"/>
    <Brick i="4" j="3" type="N"/>
    <Brick i="5" j="3" type="F"/>
    <Brick i="6" j="3" type="N"/>
    <Brick i="7" j="3" type="N"/>
    <Brick i="8" j="3" type="H"/>
    <Brick i="4" j="4" type="N"/>
    <Brick i="5" j="4" type="N"/>
    <Brick i="6" j="4" type="N"/>
    <Brick i="2" j="5" type="H"/>
    <Brick i="4" j="5" type="H"/>
    <Brick i="5" j="5" type="N"/>
    <Brick i="6" j="5" type="H"/>
    <Brick i="8" j="5" type="H"/>
    <Brick i="2" j="7" type="H"/>
    <Brick i="4" j="7" type="H"/>
    <Brick i="6" j="7" type="H"/>
    <Brick i="8" j="7" type="H"/>
    <Brick i="2" j="9" type="H"/>
    <Brick i="4" j="9" type="H"/>
    <Brick i="6" j="9" type="H"/>
    <Brick i="8" j="9" type="H"/>
    </Level>
</Game>






